@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #a29bfe;
  --light: #fff;
  --dark: #000;
  --body-bg: #ccc;
  --ff-main: "Baloo Chettan 2", cursive;
}

.header {
  font-family: var(--ff-main);
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: var(--primary);
}

.footer {
  background: var(--primary);
  color: var(--body-bg);
  font-family: var(--ff-main);
  font-weight: 400;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  width: 100vw;
  height: 5rem;
}
