@font-face {
  font-family: "JetBrainsMono-Regular";
  src: local("JetBrainsMono-Regular"),
    url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/fira-code-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/fira-code-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-500 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./fonts/fira-code-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/fira-code-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-600 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/fira-code-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/fira-code-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: var(--bg-grey);
  font-size: 10px;
}

body {
  font-family: "Fira Code", "JetBrainsMono-Regular", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
