@import "./Chat.css";

#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: scroll;
  background-color: var(--bg-secondary);
}
