@import "./Chat.css";

#chat-form {
  display: grid;
  grid-area: chat-form;
  grid: 40px / 1fr 40px;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
  grid-gap: 5px;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}

#chat-form input {
  outline: none;
  padding: 10px;
  border: 1px solid var(--bg-gray);
  color: var(--black);
  border-radius: 3px;
  font-size: 1.75rem;
  opacity: 0.75;
}
