@import "./Chat.css";

.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.message-content {
  display: grid;
}

.you-message {
  justify-content: end;
}

.you-message .message-content {
  justify-items: end;
}

.other-message .message-content {
  justify-items: start;
}

.message-date {
  font-size: 1.3rem;
  color: var(--bg-gray);
  opacity: 0.75;
}

.message-text {
  padding: 9px 14px;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.you-message .message-text {
  background: var(--bg-main);
  color: var(--white);
  border: 1px solid var(--bg-gray);
  border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--bg-main);
  border-radius: 14px 14px 14px 0;
}

.delete-button {
  cursor: pointer;
  color: var(--bg-main);
  font-weight: 600;
}
