@import "./App.css";

.chat {
  display: grid;
  place-items: center center;
  height: calc(100vh - 60px);
}

#chat-container {
  display: grid;
  grid:
    "search-container chat-title" 71px
    "conversation-list chat-message-list" 1fr
    "chat-list chat-message-list" 1fr
    "new-message-container chat-form" 78px
    / 275px 1fr;
  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: var(--bg-gray);
  border-radius: 10px;
}

#search-container,
#conversation-list,
#chat-list,
#new-message-container {
  background: var(--bg-main);
}

#search-container {
  display: grid;
  align-items: center;
  grid-area: search-container;
  padding: 0 20px;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#search-container input {
  color: var(--white);
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;
  border: 0;
  padding-left: 36px;
  padding-right: 20px;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.3);
  background-position: 15px center;
  background-size: 20px 20px;
}

#search-container input::placeholder {
  color: var(--white);
  font-weight: bold;
}

#conversation-list {
  grid-area: conversation-list;
  overflow-y: scroll;
}

.conversation {
  display: grid;
  grid-template-columns: 20px 1fr max-content;
  grid-gap: 5px;
  color: var(--white);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--bg-secondary);
  padding: 20px 20px 20px 15px;
  align-items: center;
}

.conversation.active,
.conversation:hover {
  background: var(--bg-secondary);
}

.conversation:hover {
  cursor: pointer;
}

.title-text {
  font-weight: bold;
  color: var(--white);
  padding-left: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
}

.created-date {
  color: var(--white);
  white-space: nowrap;
  font-size: 1.2rem;
}

.conversation-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#new-message-container {
  display: grid;
  grid: 40px / 40px;
  align-content: center;
  grid-area: new-message-container;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 0 10px;
  padding: 0 15px;
}

#chat-title,
#chat-form {
  background: var(--white);
}

#chat-title {
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  grid-area: chat-title;
  color: var(--bg-main);
  font-weight: bold;
  font-size: 1.75rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  padding: 0 20px;
}

#add-icon {
  font-size: 4rem;
  color: var(--bg-grey);
}

#delete-icon,
#send-icon {
  font-size: 4rem;
  color: var(--bg-main);
}

::-webkit-scrollbar {
  display: none;
}

.offline {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--danger);
  margin-right: 6px;
}

.online {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--success);
  margin-right: 6px;
}

#chat-list {
  grid-area: chat-list;
  overflow-y: scroll;
}

#chat-list h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
