@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fira-code-regular.woff2") format("woff2"),
    url("../fonts/fira-code-regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/fira-code-500.woff2") format("woff2"),
    url("../fonts/fira-code-500.woff") format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/fira-code-600.woff2") format("woff2"),
    url("../fonts/fira-code-600.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: var(--bg-grey);
  font-size: 10px;
}

body {
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
