@import "./App.css";

#navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--bg-main);
  padding: 0 30px;
}

#navbar h1 {
  display: flex;
  align-self: center;
  color: var(--white);
}

#navbar button {
  width: auto;
  height: auto;
  background-color: var(--bg-main);
  border: none;
  color: var(--white);
  font-family: inherit;
  letter-spacing: 1.1px;
  font-size: 1.5rem;
}

#navbar button:hover {
  cursor: pointer;
  color: var(--success);
}

#navbar p {
  color: var(--bg-gray);
  align-self: center;
  font-size: 1.75rem;
  font-weight: 600;
}
